#main-header > h1 {
	margin: 0;
	text-align: center;
}
#main-header > h1 > a {
	display: block;
	padding: 12px;
	border: 1px solid #222;
	color: #222;
	text-decoration: none;
}

#main-navigation > ul {
	padding: 0;
	position: relative;
	top: -13px;
	border-bottom: 1px solid #222;
	text-align: center;
}
#main-navigation > ul > li {
	margin: 0 3px;
	position: relative;
	top: 13px;
	font-style: italic;
}
#main-navigation > ul > li > a {
	display: block;
	padding: 3px 9px;
	border: 1px solid #222;
	background: #FFF;
	color: #222;
	text-decoration: none;
}

#gallery {
	text-align: center;
}
#gallery > ul > li {
	margin: 2px;
}

#reference table {
	width: 100%;
}
#reference tr > * {
	padding: 6px;
}
#reference td {
	border-top: 1px solid #CCC;
}
#reference th:first-child,
#reference td:first-child {
	text-align: left;
}
#reference th:last-child,
#reference td:last-child  {
	text-align: right;
}

#about img {
	margin: 24px;
}

#contact .field {
	margin: 4px 8px 12px;
}
#contact .field > * {
	display: block;
	width: 100%;
}

#copyright {
	text-align: center;
}